<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="admin-components/dashboard.css">
  <title>Admin Dashboard</title>
</head>
<body>
  <div class="container">
    <div class="title">
      <h2>Admin Dashboard</h2>
    </div>
    <div class="content">
      <div class="admin-actions">
        <button class="action-btn" onclick="manageDiseases()">Manage Diseases</button>
        <button class="action-btn" onclick="manageWeeks()">Manage Weeks</button>
        <button class="action-btn" onclick="manageUsers()">Manage Users</button>
      </div>
    </div>
  </div>

  <script>
    function manageDiseases() {
      window.location.href = '/diseasesManagement'; 
    }

    function manageWeeks() {
      window.location.href = '/weeksManagement';
    }

    function manageUsers() {
    //   window.location.href = '/manage-users'; 
    }
  </script>
</body>
</html>
