body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    margin: 0;
  }
  
  .container {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  
  .container .title {
    font-size: 28px;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
  }
  
  .container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  
  .admin-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .action-btn {
    background-color: #9b59b6;
    color: white;
    padding: 15px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 23%;
    transition: background-color 0.3s ease;
  }
  
  .action-btn:hover {
    background-color: #8e44ad;
  }
  
  form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(50% - 10px);
  }
  
  form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .user-details .input-box input,
  .user-details .input-box textarea {
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  
  .user-details .input-box input:focus,
  .user-details .input-box textarea:focus {
    border-color: #9b59b6;
    box-shadow: 0 0 5px rgba(155, 89, 182, 0.4);
  }
  
  textarea {
    height: 80px;
    resize: none;
  }
  
  button.submit-btn {
    background-color: #9b59b6;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s;
  }
  
  button.submit-btn:hover {
    background-color: #8e44ad;
  }
  