<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="ai-components/ai_page.css">
</head>

<body>
  <div class="video">
    <video autoplay loop  muted plays-inline class="back-video">
        <source src="ai-components/ai-page-images/vecteezy_cartoon-background-baby-shower-purple_15883266 (2).mp4" type="video/mp4">
    </video>
</div>


  <div class="sign-up-container">
    <div class="envelope">
      <div class="paper">
        <h1>AI Data</h1>
        <form class="sign-up-form">
          <input type="file" placeholder="image" class="text-input">
          <button type="submit" class="button">send</button>
        </form>
      </div>
      <div class="bottom-flap"></div>
    </div>
    <div class="baby-loader"><span>loading...</span></div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"> </script>
<script src="ai-components/ai_page.js"></script>
</body>
</html>